
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #3b3c40;
}

p1 {
  color: #fff;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 2% 7%;
}

/* Sections */

.colored-section {
  background-color: #1f1f21;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* Title Section */

#title {
  background-color: #1f1f21;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Begining Section */

#begining {
  position: relative;
}

.begining-title {
  font-size: 1.5rem;
}

.begining-box {
  padding: 4.5%;
}

.icon {
  color: #fcb110;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #be8202;
}

/* Testimonial Section */

#workingBig {
  background-color: #3b3c40;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Compay  Section */
#company {
  background-color: #3b3c40;
}

.company-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Tools Section */
#tools {
  padding: 100px;
}

.tools-text {
  font-size: 3rem;
  line-height: 1.5;
}

.tools-column {
  padding: 2% 2%;
}



/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

.copyright {
  color: #41444B;
  font-size: 0.85rem;
  padding: 20px 0;
}
.logoCopyright{
  width: 2%;
  margin-left: 10px;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-text {
    font-size: 3rem;
    line-height: 1.5
  }

}
